html
    head
        link(rel="stylesheet", href="https://bootswatch.com/5/solar/bootstrap.min.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")
        title='Products'
    body
        a(href="/" style="margin: 100px 200px 0px 10px;text-decoration: none")="Ingresar producto nuevo"
        h1(style="text-align:center;")="Product List: "
        div(class="table")
            block main