<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="https://bootswatch.com/5/solar/bootstrap.min.css">
    <title>Handlebar</title>
</head>
<body>
    <a href="/" style="margin: 25px 0px 30px 15px; text-decoration: none;">Ingresar productos</a>
    {{{body}}}
</body>
</html>